body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-size: 900px 900px; 
    background-position: center center; 
    background-repeat: no-repeat;
    height: 100vh; 
}

.menu {
    background-color: #f7fcb9;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu a {
    color: #000000;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #f7fcb9;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #f7fcb9;
    text-align: center;
    text-align: justify;
}

.container .header-img {
    display: block;
    margin: 0 auto; 
    width: 80%; 
    max-width: 600px; 
    height: auto; 
}

.imc-icon {
    width: 100px; 
    height: 100px; 
}

.header-image {
    text-align: center; 
    margin-bottom: 0px; 
}

.header-img {
    max-width: 10%; 
    height: auto; 
}

.footer {
    background-color: #234e4e; 
    text-align: center; 
    padding: 10px 0; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
    font-size: 14px; 
    color: #000000; 
    border-top: 1px solid #0300a1; 
}

.footer p {
    margin: 0; 
}

p {
    line-height: 1.6;
}

p span.title {
    font-size: 1.2em;
    font-weight: bold;
    color: #2c3e50;
}

p span.section-title,
p span.mission-title,
p span.vision-title {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    color: #2980b9;
    margin-top: 20px;
}

p ul {
    list-style-type: disc;
    padding-left: 40px;
    margin: 20px 0;
}

p ul li {
    margin-bottom: 10px;
}

p span.mission-title {
    color: #27ae60;
}

p span.vision-title {
    color: #e74c3c;
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20px);
    }
}

.animated-image {
    animation: moveLeftRight 2s infinite alternate;
}
