body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.menu {
    background-color: #f7fcb9;
    padding: 10px 0;
    text-align: center;
}

.menu a {
    color: #000000;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #f7fcb9;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 5px solid #f7fcb9;
}

body {
    background-size: 900px 900px; 
    background-position: center center; 
    background-repeat: no-repeat;
    margin: 0; 
    height: 100vh; 
}

.header-image {
    text-align: center; 
    margin-bottom: 0px; 
}

.header-img {
    max-width: 10%; 
    height: auto; 
}

/* Estilos para el contenedor del copyright */
.footer {
    background-color: #234e4e; 
    text-align: center; 
    padding: 10px 0; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
    font-size: 14px; 
    color: #000000; 
    border-top: 1px solid #f7fcb9; 
}

/* Estilos para el texto del copyright */
.footer p {
    margin: 0; 
}