.containers {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #fff;
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    text-align: center; /* Centra el contenido dentro del contenedor */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #53db34; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Quita subrayado en el texto */
    border-radius: 5px; /* Borde redondeado */
    border: none; /* Quita el borde */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrar texto */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
  }
  
  .btn:hover {
    background-color: #53db34; /* Cambia el color de fondo al pasar el ratón */
  }  

  .btns {
    display: inline-block;
    padding: 10px 20px;
    background-color: #db3434; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Quita subrayado en el texto */
    border-radius: 5px; /* Borde redondeado */
    border: none; /* Quita el borde */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrar texto */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
  }
  
  .btns:hover {
    background-color: #b92929; /* Cambia el color de fondo al pasar el ratón */
  }  