body {
    background: url('../../../img/logo\ Sin\ medida\ editable-06.png') no-repeat center center fixed; /* Ruta de la imagen de fondo */
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 8000px;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad */
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    text-align: center;
    font-family: 'Moserrat', sans-serif;
}

.card {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente para las tarjetas */
    padding: 20px;
    border-radius: 8px;
    color: black; /* Color de texto negro para la tarjeta */
}
