body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

.btn-sesion {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2ecc71; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Quita subrayado en el texto */
    border-radius: 5px; /* Borde redondeado */
    border: none; /* Quita el borde */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrar texto */
    transition: background-color 0.3s, transform 0.3s; /* Transición suave */
}

.btn-sesion:hover {
    background-color: #27ae60; /* Cambia el color de fondo al pasar el ratón */
    transform: scale(1.05); /* Escala ligeramente el botón */
}

.btn-sesion:active {
    background-color: #1e8449; /* Color de fondo al hacer clic */
    transform: scale(0.95); /* Efecto de clic */
}
